/* ANCHOR  Customs*/

/* ---- LOGO ---- */

/* .cadreLogo{
  height: ;
} */

.logoNav{
  max-width: 150px;
}



/* ---- NavBar ---- */



a:hover{
  font-size: 16px;
  color: rgb(61, 181, 236);
  text-decoration: solid;    
  transition: color 300ms; 
  /* transition uniquement sur la couleur */
  /* border: 1px solid aliceblue; */
  /* font-size: large; */
}


/* <!-- ==========  MAIN  ========== --> */
    main {
      background: linear-gradient(to bottom ,transparent 0%, transparent 85%, rgb(61, 181, 236) 100%), url(../Images/bg-body.png) center/ cover no-repeat ;
        /* Possibilité de déplacer l'image dans le cadre du header, aligner */
      /* padding: 16px; */
      min-height: 75vh;
      /* taille du main par rapport a la taille de la fenetre (=viewport) */
      border-bottom: 4px solid rgb(61, 181, 236);

    }

/* <!-- ==========  HEADER  ========== --> */
    header {
    background-image: url(../Images/navbar/png-fond-navprincipal.png);
  background-size: cover;
  /* Permet de choisir la couvrance de l'image sur la zone */
  /* align-items: center; */
  background-color: rgb(37, 54, 73);
  border-bottom: 4px solid rgb(61, 181, 236);
  padding: 16px;
}


footer {
  background-image: url(../Images/navbar/png-fond-navprincipal.png);
  background-size: cover;
  /* Permet de choisir la couvrance de l'image sur la zone */
  /* align-items: center; */
  background-color: rgb(37, 54, 73);
  margin-bottom: 16px;
  padding: 16px;
}


/* ------------ Elements des cards ------------ */
article {
  max-width: 300px;
  margin-top: 4px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 1px 1px 10px 1px rgb(61, 181, 236);
  margin-bottom: 24px;
  max-height: 450px;
}

article img {
  width: 100%;
  border-radius: 8px;
}

.dateCard {
  color:aliceblue;
  max-width: 150px;
  border-bottom: 1px solid aliceblue;
}

.titreCard{
  color:aliceblue;
  font-size: 16px;
  
}

.introCard{
  color:aliceblue;
  font-size: 14px;
  font-style: italic;

}

.btnCard{
font-size: 14px;
}