/* ANCHOR Params default */
* {
  box-sizing: border-box;
  /* border: 1px dashed red; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.ulStyle{
  list-style-type: none;
  text-decoration: none;
}

h1{
  margin: 0;
  color: aliceblue;
}

h2{
  margin: 0;


}

h3{
  margin: 0;
  color: aliceblue;
 
}

ul{
  display: flex;
  justify-content: end;
  gap: 12px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color:rgb(240, 248, 255)
}

p{
  text-decoration: none;
}