/* ANCHOR Params default */
* {
  box-sizing: border-box;
  /* border: 1px dashed red; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.ulStyle{
  list-style-type: none;
  text-decoration: none;
}