/* ANCHOR Params default */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.ulStyle{
  list-style-type: none;
  text-decoration: none;
}


/* ANCHOR Colors */

.color-b{
  color: rgb(61, 181, 236);
}

.color-w{
   color: aliceblue;
}

.color-bck{
   color: rgb(37, 54, 73);
}
* {
  box-sizing: border-box;
  /* border: 1px dashed red; */
}

/* ANCHOR Margin padding */

                  /* Margin */

.p16{padding: 16px;}


                  /* Padding */
                  
.m-0{ margin: 0;}
                  

/* ANCHOR  Typo*/

                  /* Font size */
.fs-14   {font-size: 14px;}
.fs-16   {font-size: 16px;}
.fs-20   {font-size: 20px;}
.fs-32   {font-size: 32px;}
.fs-40   {font-size: 40px;}


                  /* Font size */
.fs-14   {font-size: 14px;}
.fs-16   {font-size: 16px;}
.fs-20   {font-size: 20px;}
.fs-32   {font-size: 32px;}
.fs-40   {font-size: 40px;}

header {
  background-image: url(../Images/navbar/png-fond-navprincipal.png);
  background-size: cover;
  /* Permet de choisir la couvrance de l'image sur la zone */
  /* align-items: center; */
  background-color: rgb(37, 54, 73);
  margin-bottom: 16px;
  padding: 16px;
}

/* ---- LOGO ---- */

.cadreLogo{
  height: ;
}

.logoNav{
  max-width: 150px;
}



/* ---- NavBar ---- */

ul{
  display: flex;
  justify-content: end;
  gap: 12px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color:rgb(240, 248, 255)
}

a:hover{
  font-size: 15px;
  color: rgb(61, 181, 236);
  transition: 300ms;
  /* border: 1px solid aliceblue; */
  /* font-size: large; */
  text-decoration: solid;    
}


/* <!-- ==========  MAIN  ========== --> */

    main {
        background-image: url(../Images/bg-body.png);
      /* padding: 16px; */
    }

/* <!-- ==========  MAIN  ========== --> */


footer {
  background-image: url(../Images/navbar/png-fond-navprincipal.png);
  background-size: cover;
  /* Permet de choisir la couvrance de l'image sur la zone */
  /* align-items: center; */
  background-color: rgb(37, 54, 73);
  margin-bottom: 16px;
  padding: 16px;
}