
.navElmt {
    position: relative; /* Cette propriete permet de servir de position de reference a tous les elements enfants.
    Sans ca, les enfants se placeraient en fonction de la page entiere (CaD du body) */
    display:inline-block;
}

#dropDownBtn{
    background: transparent; /* Permet de rendre le fond invisible*/
    border: none; /* Supprime la bordure et donc le cadre qui pourrait persister sans background*/
    color:  aliceblue; /*On peut aussi mettre color:inherit pour que le bouton herite de la couleur du parent*/
    font: inherit; /* Permet l'heritage de toutes les prop de la police du menu (permet une cohesion visuelle)*/
    cursor: pointer; /*Permet de faire apparaitre une main en pointeur pour mettre en evidence l'element cliquable dans le menu*/
}
#dropDownList {
  display:none; /* Permet de cacher le dropdown quand l'ul est "fermé".
  Contrairement a la prop visibility/hidden, le display none désactive completement le dropdown
  (CaD qu'il n'existe pas avant d'etre ouvert et ne peut pas etre interactif et evite les bugs de clics invisibles)*/

  position: absolute; /* Permet de sortir le menu du "flux" de la page et donc de le placer sous le bouton a condition que le parent soit en position:relative*/
  top: 100%;          /* 1er element se positionne juste sous l’onglet */
  left: 0;
  margin: 0; /* Permet de supprimer l'espace interieur en sachant que par defaut dans un ul il y a du margin-top:1em, Peut eviter un decalage verticale dans certains cas*/
  padding: 0; /* Permet de supprimer l'espace interieur en sachant que par defaut dans un ul il y a du padding-left:40px*/
  width: 100%; /* Force le dropdown a avoir la meme largeur que son parent et aligne les elements au parent donc les lignes 21 et 22 sont inutiles dans ce cas*/ 
  text-align: center; /*Positionne le texte a l'interieur du contenant*/
  color: black;

  /* les lignes 21 et 22 permettent d'aligner les éléments au centre du bouton  MAIS PAS NECESSAIRE DANS CE CAS CAR INCOMPATIBLE AVEC LE width:100%*/
  /*left: 50%; place le bord gauche du menu au centre du bouton (cad par rapport au parent) */
 /* transform: translateX(-50%); ramène le menu de la moitié de sa largeur vers la gauche (cette valeur se base sur la largeur du menu lui-meme)*/
}

#dropDownList.open {
  display: block; /* Maintien la position en block des elements du dropdown quand il est ouvert*/
  background-color: aliceblue;
}
@media (max-width: 500px) {
  nav ul {
    flex-direction: column;
    width: 100%;
  }

  .navElmt {
    width: 100%;
  }

  #dropDownList {
    padding-left: 1rem; /* léger décalage pour la hiérarchie */
    background-color: white;
    position: relative;  /* reste dans le flux pour pousser les éléments, mais permet z-index */
    z-index: 100; 
  }
}